@import 'client/theme.scss'; //  background-color: $accent;
//  background-color: $accent;

:host {
    .chart {
        padding: 20px;
        width: 100%;
    }

    .graph-container {
        width: 100%;
        height: 100%;
    }

    h2 {
        color: $accent;
        font-size: $lg;
    }

    .text-container {
        height: 100%;
        display: flex;
        align-items: center;
        //justify-content: center;
    }
}
