<div class="slides-creator">
  <md-card class="">
    <form novalidate [formGroup]="form" (ngSubmit)="f.form.valid && createSlides(form.value)" #f="ngForm">
      <md-toolbar color="primary">Create new slides</md-toolbar>
      <md-card-content>
        <table style="width: 100%" cellspacing="0">
          <tr>
            <td>
              <md-input-container class="lg slide-name">
                <input mdInput placeholder="Slides name" formControlName="slidesName" name="slidesName" required class="input ">
              </md-input-container>
              <span class="error" *ngIf=" form.controls.slidesName.invalid">Slides Name is required</span>
            </td>
          </tr>
        </table>

        <div class="slides" #slideBlock>
          <md-grid-list cols="2" rowHeight="100px" *ngFor="let slide of slides;let i = index" class="slide">
            <md-grid-tile [colspan]="1" [rowspan]="1">
              <img [src]="'assets/'+slide.graph+'.png'" class="graph-img">
            </md-grid-tile>
            <md-grid-tile [colspan]="1" [rowspan]="1" class="addText" [innerHtml]="slideTextTransformed[i]">
              <p>{{slide.text}}</p>
            </md-grid-tile>
          </md-grid-list>
        </div>
        <app-slide-creator (confirmSlideOpt)="submitSlide($event)" [slideIndex]="curSlideIndex+1"></app-slide-creator>
      </md-card-content>
      <md-card-actions align="center">
        <button md-raised-button color="primary" type="submit">CREATE</button>
        <button md-raised-button class="secondery">CANCEL</button>
      </md-card-actions>
    </form>
  </md-card>
</div>
