
:host /deep/{
  width: 100%;
    
  .d3-chart {
    width: 90%;
    height: 50%;
    margin-left: 30px;
  }

  .node circle {
    fill: #fff;
    stroke: steelblue;
    stroke-width: 3px;
  }

  .node text {
    font: 12px sans-serif;
  }

  .link {
    fill: none;
    stroke: #ccc;
    stroke-width: 2px;
  }
}
