<md-card-content>
  <app-editor *ngIf="!id" #editor></app-editor>
  <app-editor *ngIf="id" #editor [sliderIpt]="slider"></app-editor>
</md-card-content>
<div class="base dark">
  <md-card-actions fxLayout="row" fxLayoutAlign="center center">
    <button *ngIf="!id" md-raised-button color="primary" [disabled]="!isValidated||_editor.isInShuffle" (click)="createSlides()">CREATE</button>
    <button *ngIf="id" md-raised-button type="button" color="primary" [disabled]="!isValidated||_editor.isInShuffle" type="submit" (click)="saveSlides()">SAVE</button>
    <button md-raised-button type="button" class="secondery" [routerLink]="['/slides']">CANCEL</button>
  </md-card-actions>
</div>
