<div fxLayout="row" fxLayoutAlign="center center">
  <app-slides-search (textSearch)="search($event)" kind="advanced" (fState)="fState($event)" [selectedState]="selectedState" [states]="states" (fFavorite)="fFavorite($event)" [selectedFavorite]="selectedFavorite"></app-slides-search>
</div>

<div fxLayout="row" fxLayoutWrap="wrap" fxLayoutAlign="space-around">
  <div *ngFor="let s of slides" [class.display-div]="!(loggedIn$|async)&& !s.slidesSetting.public" fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="50" fxFlex.lg="33" fxFlex.xl="33">
    <app-slides-card (deletedSlides)="refreshList()" [slides]="s" [editable]="true" (duplicateslidesOpt)="refreshList()"></app-slides-card>
  </div>
</div>

<div class="error" >
  <p *ngIf="result.noPrivate">Sorry, no one private slides</p>
  <p *ngIf="result.noSlides">Sorry, you don't have any slides yet!</p>
  <p *ngIf="result.noPublish">Sorry, no one publish slides yet! <br>Would you want to be the pioneer?</p>
  <p *ngIf="result.noResult">Opps, no result for these key words</p>
</div>

<button class="buttonBottom" *ngIf="loggedIn$|async" [routerLink]="['createSlides']" md-fab><md-icon>add</md-icon> </button>
