
<md-card class="slide-creator secondery-theme">
  <md-card-header class="section-title">
    Slide 1
  </md-card-header>
  <form novalidate [formGroup]="form" (ngSubmit)="f.form.valid" #f="ngForm">
    <div class="full-frame">
      <div class="margin-frame">
        <md-select placeholder="Select graph" formControlName="slideGraph" name="slideGraph" (change)="graphChange()">
          <md-option *ngFor="let graph of graphs" [value]="graph.value">
            {{ graph.type }}
          </md-option>
        </md-select>
        <div class="margin-ver-frame">
          <md-tab-group *ngIf="form.controls.slideGraph.value" #dataInput>
            <md-tab label="Input">
              <div [ngSwitch]="form.controls.slideGraph.value">
                <div *ngSwitchCase="'barChart'" class="margin-frame">
                  <table cellspacing="0" #dataTable>
                    <tr>
                      <th>X Axis</th>
                      <th>Y Axis</th>
                    </tr>
                    <tr *ngFor="let data of form.controls.graphData.controls;let i=index" [formGroup]="data">
                      <td>
                        <md-input-container>
                          <input mdInput placeholder="String/Number" formControlName="index">
                        </md-input-container>
                      </td>
                      <td>
                        <md-input-container>
                          <input mdInput placeholder="Number" formControlName="value">
                        </md-input-container>
                      </td>
                    </tr>
                  </table>
                  <a md-mini-fab (click)="addData()">
                    <md-icon>add</md-icon>
                  </a>
                </div>
                <div *ngSwitchCase="'forceDirectedGraph'" class="margin-frame">
                  <h2>Use default data</h2>

                </div>
                <div *ngSwitchDefault></div>
              </div>
            </md-tab>
            <md-tab label="Json">
              <textarea formControlName="graphDataJson" name="graphDataJson" [(ngModel)]="dataExample"></textarea>
            </md-tab>
          </md-tab-group>
        </div>
        <div class="margin-ver-frame">
          <app-markdown-editor></app-markdown-editor>
        </div>
      </div>
    </div>
    <br>
    <button md-raised-button type="submit" (click)="confirmSlide()" [disabled]="!form.valid">OK</button>



  </form>

</md-card>
