@import 'client/theme.scss';
//  background-color: $accent;
:host {
  height: 100%;
  width: 100%;

  .chart {
    padding: 20px;
    width: 100%;

  }

  md-grid-tile {
    overflow: visible;
  }

  md-grid-list, md-grid-tile {
    height: 100%;
    overflow: visible;
    padding-bottom: 0 !important;
    padding-top: 0 !important;
  }

  .graph-container {
    height: 100%;
    width: 100%;
  }

  h2 {
    color: $accent;
    font-size: $lg;
  }

  /deep/ app-ng-graph {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
  }
  /deep/ .img-container {
    height: 100%;
    width: 100%;
  }

  /deep/ .img-cmp{
    height: 100%;
    width:100%;
  }
}
