md-input-container {
  padding: 0 10px;
}

.tag {
  padding: 0 10px;

  .tag-group {
    display: inline-block;
    md-chip:first-child {
      margin-left: 20px;
    }
    md-chip:last-child {
      margin-right: 10px;
    }
    .close-tag {
      cursor: pointer;
      &:hover {
        color: white;
      }
    }

    md-input-container {
      padding: 0;
    }
  }
}
