<div class="container-fluid">
  <div class="row space">
    <app-search (textSearch)="search($event)"></app-search>
    <app-filter *ngIf="loggedIn$|async" (filterState)="filterState($event)" [states]="states"></app-filter>
  </div>

  <app-slides-list [slides]="slides" [editable]="true"></app-slides-list>
  <div *ngIf="loggedIn$|async" class="list-item col-xs-12 col-sm-6  col-md-3">
    <md-grid-list cols="1">
      <md-grid-tile>
        <md-card [routerLink]="['createSlides']" class="create-btn block-center">
          <md-card-content>
            <md-icon>add</md-icon>
          </md-card-content>
        </md-card>
      </md-grid-tile>
    </md-grid-list>
  </div>
</div>
