<div class="container-fluid">
  <div class="row space">
    <app-search (textSearch)="search($event)"></app-search>
    <app-filter *ngIf="loggedIn$|async" (filterState)="filterState($event)" [states]="states"></app-filter>

  </div>

  <div class="row">
    <div *ngFor="let s of slides" [class.display-div]="!(loggedIn$|async)&& !s.slidesSetting.public" class="list-item slides-item col-xs-12 col-sm-6  col-md-4 col-lg-3">
      <app-slides-card (deletedSlides)="refreshList()"  [slides]="s" [editable]="true"></app-slides-card>
    </div>
  </div>

</div>
<button  [class.buttonTop]="slides.length===0" [class.buttonBottom]="slides.length>0" *ngIf="loggedIn$|async"  [routerLink]="['createSlides']" md-fab><md-icon>add</md-icon> </button>
