.space {
    margin-left: 15px;
}
.buttonBottom {
    position: fixed;
    bottom: 5%;
    right: 5%;
}
.buttonTop {
    position: fixed;
    left: 5%;
}
.no-private,
.no-slides,
.no-publish,
.no-result {
    color: #263238;
    font-size: 24px;
    text-align: center;
}
