<div fxLayout="row" fxLayoutAlign="center center">
  <app-search (textSearch)="search($event)"></app-search>
  <app-filter *ngIf="loggedIn$|async" (filterState)="filterState($event)" [selectedValue]="selectedValue" [states]="states"></app-filter>
  <app-favorite-filter *ngIf="loggedIn$|async" (filterFavorite)="filterFavorite($event)" [selectedValue]="selectedValue"></app-favorite-filter>
</div>

<div fxLayout="row" fxLayoutWrap="wrap" fxLayoutAlign="space-around">
  <div *ngFor="let s of slides" [class.display-div]="!(loggedIn$|async)&& !s.slidesSetting.public" fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="50" fxFlex.lg="30">
    <app-slides-card (deletedSlides)="refreshList()" [slides]="s" [editable]="true"></app-slides-card>
  </div>
</div>

<div class="no" >
  <p *ngIf="result.noPrivate">Sorry, no one private slides</p>
  <p *ngIf="result.noSlides">Sorry, you don't have any slides yet!</p>
  <p *ngIf="result.noPublish">Sorry, no one publish slides yet! <br>Would you want to be the pioneer?</p>
  <p *ngIf="result.noResult">Opps, no result for these key words</p>
</div>

<button [class.buttonTop]="slides.length===0" [class.buttonBottom]="slides.length>0" *ngIf="loggedIn$|async" [routerLink]="['createSlides']" md-fab><md-icon>add</md-icon> </button>
