.arc text {
	font: 10px sans-serif;
	text-anchor: middle;
}

$axisColor:#4c4c4c;

.arc path {
	stroke: #fff;
}

:host {
    width: 100%;
	height: 80%;

    /deep/ .axis{
       text {
          fill: $axisColor;
          font-size: 14px;
      }
      line,path {
          stroke: $axisColor;
      }
    }

    .d3-chart {
        width: 100%;
        height: 600px;
    
	.arc {
		path {
			stroke: #fff;
		}
		text {
			font: 10px sans-serif;
			text-anchor: middle;
 		}

	}
 }


}
