/*
 * sidenav
 */
@import 'client/stylesheets/theme.scss';
/* animation */
* {
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}
/* normal */
.sidenav {
  @include Nav-theme($theme);
  height: 100%;
  margin-left: -120px;
  overflow-x: hidden;
  overflow-y: auto;
  position: fixed;
  top: 0;
  width: 60px;
  z-index: 49;

  .foot {
    bottom: 0;
    color: white;
    height: 50px;
    line-height: 50px;
    position: absolute;
    text-align: center;
    width: 100%;
  }
  /*toggle class*/
  &.toggled {
    margin-left: 0;
    width: 250px;
  }
}

.sidebar-nav {
  list-style: none;
  width: 60px;
}

.sidebar {
  max-height: calc(100vh - 180px);
  overflow-x: hidden;
  overflow-y: auto;
  top: 0 !important;
  width: 250px;
}

.toggle-mask {
  background-color: grey;
  display: none;
  height: 100%;
  opacity: .6;
  position: absolute;
  width: 100%;
  z-index: 48;
}

.toggle-left-btn {
  display: block;
}
/* Toggle left */
.wrapper.toggled .toggle-mask {
  display: block;
}

.wrapper.toggled {
  overflow: hidden;
}

.wrapper.toggled .content {
  transform: translateX(250px);
}

.wrapper.toggled .header nav.top {
  transform: translateX(250px);
}

.wrapper.toggled .content {
  height: 100%;
}

.wrapper.toggled .sidenav {
  margin-left: 0;
  width: 250px;
}

.wrapper.toggled .sidebar-nav {
  width: 250px;
}

.wrapper.toggled .sidebar-nav span {
  display: inline;
  opacity: 1;
}
@media only screen and (min-width: 768px) {
  .wrapper {
    padding-left: 60px;
  }

  .sidenav {
    margin-left: 0;
  }

  .toggle-left-btn {
    display: none;
  }
  /* Toggle in normal screen*/
  .wrapper.toggled {
    padding-left: 0;
  }

  .wrapper.toggled .toggle-mask {
    display: none;
  }

  .wrapper.toggled .content {
    padding-left: 250px;
    transform: none;
  }

  .wrapper.toggled .header nav.top {
    padding-left: 210px;
    transform: none;
  }
}
/* design */
.sidenav .sidebar-nav .head {
  height: 50px;
  padding: 0;
  width: 250px;
}

.wrapper.toggled .sidebar-nav .head {
  padding: 0 10px;
}

.sidenav .sidebar-nav .user {
  bottom: 50px;
  height: 60px;
  line-height: 50px;
  overflow-x: hidden;
  padding: 0;
  position: absolute;
  width: 100%;
}

.wrapper.toggled .sidebar-nav .user {
  padding: 0 10px;
}

.sidenav .sidebar-nav .user a {
  color:mat-color($primary,50);
  padding: 10px 20px;
  text-decoration: none;

  .active-link {
    background-color:mat-color($primary,900);
    color: mat-color($primary,50);
  }
}

.sidenav .sidebar-nav .user a md-icon {
  margin-right: 30px;
}

.sidenav .sidebar-nav .user .image {
  border-radius: 50%;
  height: 36px;
  margin: 12px 5px 12px 12px;
  opacity: 1;
  vertical-align: middle;
  width: 36px;
}

.sidenav .sidebar-nav {
  .active-link {
    background-color:mat-color($primary,900);
  }

  .user:hover {
    background-color: mat-color($primary,900);
  }
}

.dropdown-toggle {
  color: mat-color($primary,50);
  cursor: pointer;
  display: block;
  height: 100%;
  width: 100%;
}

.sidenav .sidebar .fa {
  margin-right: 30px;
}

.sidenav .sidebar .sidebar-nav.navbar-collapse {
  padding-left: 0;
  padding-right: 0;
}

.sidenav .sidebar ul {
  padding: 0;
}

.sidenav .sidebar ul li {
  display: block;
  position: relative;
  width: auto;
}

.sidenav .sidebar ul li a {
  color: mat-color($primary,50);
  display: block;
  padding: 10px 20px;
}

.sidebar ul li a:hover, .sidenav .sidebar ul li a.active {
  background-color: mat-color($primary,900);
  color: mat-color($primary,50);
}

.sidenav .sidebar .arrow {
  float: right;
}

.sidenav .sidebar .fa.arrow:before {
  content: '\f104';
}

.sidenav .sidebar .active > a > .fa.arrow:before {
  content: '\f107';
}

.sidenav .sidebar .nav-second-level li, .sidenav .sidebar .nav-third-level li {
  border-bottom: 0 !important;
}

.sidenav .sidebar .nav-second-level li a {
  padding-left: 37px;
}

.sidenav .sidebar .nav-third-level li a {
  padding-left: 52px;
}
// .sidenav .sidebar ul li a {
//   width: 250px;
// }

.wrapper.toggled .sidebar ul li {
  width: 250px;
}

.wrapper.toggled .sidebar ul li a {
  width: 250px;
}
/* pin icon*/
.pin-icon {
  color: #c5d0de;
  cursor: pointer;
  height: 50px;
  padding: 17px 13px;
  position: absolute;
  width: 50px;
}

.pin-icon:hover {
  background-color: rgba(0,0,0,.1);
  color: white;
}
/* design */
.head span {
  display: block;
  float: left;
  height: 40px;
  margin-top: 5px;
  position: relative;
}

.head span img {
  height: 34px;
  margin-top: 3px;
}

.logo {
  :hover {
    opacity: .8;
  }

  .fa {
    color: #fff;
    float: left;
    line-height: 40px;
    padding: 5px 18px;
  }

  span {
    color: #fff;
    font-size: 28px;
    padding: 5px;
  }
}
