<a class="card-container" *ngIf="(loggedIn$|async)||(slides&&slides.slidesSetting.public)" [routerLink]="['/slides/slidesPresentation', slides._id]">
  <md-card class="prez-list-card">
    <h2 class="slides-title">{{slides?slides.slidesSetting.title:""}}</h2>
    <div class="md-card-image" style="background-image:url('assets/logo_full_banner.png');">
      <div class="banner-container" *ngIf="slides&&slides.slidesSetting.banner && slides.slidesSetting.banner.path">
        <img class="banner" [src]="slides?slides.slidesSetting.banner.path:''">
        <div class="banner-mask"></div>
      </div>
      <div class="options">
        <a class="option-btn" *ngIf="loggedIn$|async" (click)="toggleFavorite($event); false" [class.favorite]="slides&&slides.slidesSetting.favorite" [class.unfavorite]="slides&&!slides.slidesSetting.favorite" [mdTooltip]="(slides&&slides.slidesSetting.favorite) ? 'Remove from favorite' : 'Add to favorite'">
          <md-icon *ngIf="slides&&!slides.slidesSetting.favorite" md-ripple mdRippleCentered="true" mdRippleUnbounded="true">favorite_border</md-icon>
          <md-icon *ngIf="slides&&slides.slidesSetting.favorite" md-ripple mdRippleCentered="true" mdRippleUnbounded="true">favorite</md-icon>
        </a>
        <div *ngIf="slides&&(loggedIn$|async) && ((username$|async) === slides.slidesSetting.author)&&editable" class="btn-group">
          <a class="option-btn" (click)="publish($event); false" [class.published]="slides&&slides.slidesSetting.public" [class.unpublished]="slides&&!slides.slidesSetting.public" [mdTooltip]="(slides&&slides.slidesSetting.public) ? 'Unpublish' : 'Publish'">
            <md-icon md-ripple mdRippleCentered="true" mdRippleUnbounded="true">publish</md-icon>
          </a>
          <a class="option-btn" (click)="deleteSlides($event, slides._id); false" mdTooltip="Delete">
            <md-icon md-ripple mdRippleCentered="true" mdRippleUnbounded="true">delete</md-icon>
          </a>
          <a class="option-btn" (click)="open($event); false" [routerLink]="['slides', slides._id]" mdTooltip="Edit">
            <md-icon md-ripple mdRippleCentered="true" mdRippleUnbounded="true">edit</md-icon>
          </a>
          <a class="option-btn" (click)="duplicateSlides($event,slides); false" mdTooltip="Copy">
            <md-icon md-ripple mdRippleCentered="true" mdRippleUnbounded="true">content_copy</md-icon>
          </a>
        </div>
      </div>
      <md-chip-list class="tip-list" *ngIf="slides">
        <md-chip class="tip" *ngFor="let tag of slides.slidesSetting.tags">{{tag}}</md-chip>
      </md-chip-list>
    </div>
    <md-card-content class="card-content">
      <p class="description" *ngIf="slides">{{slides.slidesSetting.description}}</p>
      <p class="author" *ngIf="slides">{{slides.slidesSetting.author}}</p>
    </md-card-content>
  </md-card>
</a>
