
* {
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}
.app-container {
  overflow: hidden;
  padding-left: 60px;
  //margin-top: 50px;
  padding-top: 65px;
  &.toggled {
    padding-left: 250px;
  }
}
.toggle-mask {
  background-color: grey;
  display: none;
  height: 100%;
  opacity: .6;
  position: absolute;
  width: 100%;
  z-index: 48;
  &.toggled {
    display: block;
  }
}
