<form flex="100" class="base" name="passwordForm" [formGroup]="form" (ngSubmit)="passwordForm.form.valid && changePasword(form.value)" #passwordForm="ngForm" novalidate autocomplete="off">
  <div>
    <md-input-container class="md-icon-float md-block" show-errors>
      <input mdInput [(ngModel)]="currentPassword" type="password" formControlName="currentPassword" placeholder="Current Password" id="currentPassword" name="currentPassword" required autofocus />
    </md-input-container>
    <span class="error" *ngIf="passwordForm.submitted && form.controls.currentPassword.invalid"><br>Current password is required</span>
  </div>
  <div>
    <md-input-container class="md-icon-float md-block" show-errors>
      <input mdInput [(ngModel)]="newPassword" formControlName="newPassword" type="password" validateEqual="verifyPassword" reverse="true" mdInput placeholder="New Password" id="newPassword" name="newPassword" required />
    </md-input-container>
    <span class="error" *ngIf="passwordForm.submitted && form.controls.newPassword.invalid"><br>new password is required</span>
  </div>
  <div>
      <md-input-container class="md-icon-float md-block" show-errors>
      <input mdInput [(ngModel)]="verifyPassword" formControlName="verifyPassword" type="password" validateEqual="newPassword" reverse="false" placeholder="Verify Password" id="verifyPassword" name="verifyPassword" required />
    </md-input-container>
    <span class="error" *ngIf="passwordForm.submitted && form.controls.verifyPassword.invalid">The two passwords aren't the same
<br></span>
  </div>

    <div class="center-align">
      <button  md-raised-button color="primary" type="submit" class="md-raised md-primary">Save Password</button>
    </div>
    <div *ngIf="state?.session.hasMessage?.get('type')==='success' && state?.session.actionType==='CHANGE_PASSWORD_SUCCESS'" class="center-align text-success">
      <strong>{{state?.session.hasMessage?.get('message')}}</strong>
    </div>
    <div type="danger" *ngIf="state?.session.hasMessage?.get('type')==='echec' && state?.session.actionType==='CHANGE_PASSWORD_ERROR'" class="center-align text-danger">
      <span>{{state?.session.hasMessage?.get('message')}}</span>
    </div>
</form>
