<div class="slides-creator">
  <md-card class="">
    <form >
      <md-toolbar color="primary">Create new slides</md-toolbar>
      <md-card-content>
      <app-slides-setting #slidesSetting (onSettingChange)="slidesSettingChange($event)" (onValidated)="validateSubmit()"></app-slides-setting>
      <section>
          <div class="slides" #slideBlock>
            <app-slide-preview *ngFor="let slide of slides;let i=index" [curSlideIndex]="i" [slideSetting]="slide" (submitSlideOpt)="submitSlide($event)" ></app-slide-preview>
          </div>
        </section>
        <app-slide-creator (confirmSlideOpt)="submitSlide($event)" [slideIndex]="curSlideIndex" [showForm]="true"></app-slide-creator>
      </md-card-content>
      <md-card-actions align="center">
        <button md-raised-button color="primary" [disabled]="!isValidated" type="submit" (click)="createSlides()">CREATE</button>
        <button md-raised-button class="secondery" [routerLink]="['/slides']">CANCEL</button>
      </md-card-actions>
    </form>
  </md-card>
</div>
