@import 'client/theme.scss';
.toto
{
    z-index: 0;
}

.slides-card
{
    font-family: 'SF Pro Display','SF Pro Icons','Helvetica Neue','Helvetica','Arial',sans-serif !important;

    margin: 10px;
    padding: 0;

    color: #333;
    background: #fff;
    box-shadow: none !important;

    h2
    {
        line-height: 50px;

        width: 100% !important;
        height: auto;
        margin: auto;
        padding: 10px;

        text-align: center;
    }

    .mat-card-header-text
    {
        width: 100%;
        margin: 10px auto;

        text-align: center;
    }

    .md-card-image
    {
        position: relative;

        width: 100%;
        height: 225px;

        background-position: center;
        background-size: cover;

        .options
        {
            position: absolute;
            top: 10px;
            right: 10px;

            display: inline-block;

            md-icon
            {
                font-size: 125%;
            }

            div
            {
                display: inline-block;
            }

            a
            {
                position: relative;
                z-index: 99;

                padding: 2px;

                color: #333;

                &.favorite
                {
                    color: $warn;
                }

                &.unfavorite
                {
                    opacity: .5;
                    color: $primary;
                }

                &.published
                {
                    color: $accent;
                }

                &.unpublished
                {
                    opacity: .5;
                    color: $primary;
                }
            }
        }

        md-chip-list
        {
            position: absolute;
            bottom: 10px;
            left: 10px;

            md-chip
            {
                font-size: 75%;

                padding: 4px 8px;

                color: #dedede;
                border-radius: 10px;
                background: rgb(36, 39, 45);
                background: rgba(36, 39, 45, .7);
            }
        }
    }

    md-card-content
    {
        margin: 5px;

        p
        {
            padding: 10px;
        }

        .description
        {
            overflow-y: auto;

            height: 100px;

            text-align: justify;
        }

        .author
        {
            text-align: right;

            color: #999;
        }
    }
}
