@import 'client/theme.scss';

.slides-card {
  margin: 10px;
  padding: 0;
  font-family: 'SF Pro Display','SF Pro Icons','Helvetica Neue','Helvetica','Arial',sans-serif !important;
  color: #333;
  background: #fff;
  box-shadow: none !important;

  h2 {
    width: 100% !important;
    height: auto;
    line-height: 50px;
    text-align: center;
    margin: auto;
    padding: 10px;
  }

  .mat-card-header-text {
    width: 100%;
    text-align: center;
    margin: 10px auto;
  }

  .md-card-image {
    height: 225px;
    width: 100%;
    background-size: cover;
    background-position: center;
    position: relative;

    .options {
      position: absolute;
      right: 10px;
      top: 10px;
      display: inline-block;

      span {
        padding: 0 5px;

        &.favorite {
          color: $warn;
        }

        &.unfavorite {
          color: $primary;
          opacity: 0.5;
        }

        &.published {
          color: $accent;
        }

        &.unpublished {
          color: $primary;
          opacity: 0.5;
        }
      }
    }

    md-chip-list {
      position: absolute;
      bottom: 10px;
      left: 10px;

      md-chip {
        background: rgb(36, 39, 45);
        background: rgba(36, 39, 45, 0.8);
        color: #dedede;
      }
    }
  }

  md-card-content {
    margin: 5px;

    p {
      padding: 10px;
    }
    
    .description {
      height: 100px;
      overflow-y: auto;
      text-align: justify;
    }

    .author {
      text-align: right;
      color: #999;
    }
  }
}
