@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import 'client/theme.scss';
/* animation */
* {
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}
.header {
  @include basic-frame-theme($theme);
  .top {
    background: white;
    border-bottom: 1px solid #ddd;
    height: 50px !important;
    left: 0;
    line-height: 50px !important;
    padding: 0 1.25rem ;
    position: fixed;
    right: 0;
    z-index: 46;
    .nav-wrapper {
      padding-left: 0;

      .left {
        float: left;
      }
      .right {
        float: right;
      }
      ul {
        margin-bottom: 0;
        margin-top: 0;
        a {
          color: md-color($primary) !important;
          &:hover {
            background-color: md-color($primary,50);
          }
        }
      }
    }
  }
}
/*toggle*/
.header.toggled {
  .top {
    transform: translateX(190px);
  }
}
/* for normal screen*/
@media only screen and (min-width: 768px) {
  .header {
    .top {
      .nav-wrapper {
        padding-left: 60px;
      }
    }
  }
  /*toggle*/
  .header.toggled {
    .top {
      padding-left: 210px;
      transform: none;
    }
  }
}

/* List */
.header .top ul li.item {
  width: 50px;
}

.header .top ul li a {
  cursor: pointer;
  display: block;
  font-size: 1rem;
  padding: 0 15px;
  text-align: center;
}

.header .top ul a:hover {
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,.1);
}
/*Page path title*/
.header .page-title {
  margin: 0 auto;
  overflow: hidden;
  overflow: hidden;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
}
@media only screen and (min-width: 768px) {
}
/*Drop Down*/
.header .dropdown-button.toolbox-btn {
  padding-right: 0 !important;
  text-align: right !important;
}

/*Menu Expand*/
.header .expand-btn {
  position: relative;
  right: -15px;
}
