<div class="select-graph-dialog">
  <div class="graph-gallery">
    <div class="img-mask"></div>
    <div>
      <img src="assets/force-directed.png" class="graph-img">
    </div>
  </div>

  <form novalidate [formGroup]="form" (ngSubmit)="f.form.valid" #f="ngForm" align="center">
    <input type="radio" name="graph-type" id="bar-chart" class="graph-radio">
    <label for="bar-chart">
    <span>
      <span class="img-mask"></span>
      <img src="assets/svg.png" width="30%">
    </span>
  </label>


    <br>
    <a md-raised-button (click)="confirmSlide()">OK</a>
  </form>
</div>
