<form autocomplete="off" #f="ngForm" fxLayout="row" fxLayoutWrap="wrap" fxLayoutAlign="space-around">
  <md-input-container *ngIf="kind === 'advanced'" fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="50" fxFlex.lg="33">
    <md-placeholder>
      <md-icon>search</md-icon>
    </md-placeholder>
    <input mdInput [(ngModel)]="textToSearch" name="textToSearch" (ngModelChange)="onChange(textToSearch)">
  </md-input-container>

  <md-input-container *ngIf="kind !== 'advanced'" fxFlex="100">
    <md-placeholder>
      <md-icon>search</md-icon>
    </md-placeholder>
    <input mdInput [(ngModel)]="textToSearch" name="textToSearch" (ngModelChange)="onChange(textToSearch)">
  </md-input-container>

  <md-select *ngIf="kind === 'advanced'" (change)="onChangeState(selectedState)" [(ngModel)]="selectedState" name="state"  fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="30" fxFlex.lg="30">
    <md-option *ngFor="let state of states" [value]="state">
      {{state}}
    </md-option>
  </md-select>

  <md-select *ngIf="kind === 'advanced'" (change)="onChangeFavorite(selectedFavorite)" [(ngModel)]="selectedFavorite" name="favorite" fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="30" fxFlex.lg="30">
    <md-option [value]="'All'">All</md-option>
    <md-option [value]="'favorite'">Favorite</md-option>
    <md-option [value]="'notFavorite'">Not favorite</md-option>
  </md-select>
</form>
