@import 'client/theme.scss';

.slides-list-container {
    @include basic-frame-theme($theme);
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: transparent;
    .list-item md-card {
        cursor: pointer;
        margin-bottom:15px;
        width: 100%;

        &.create-btn{
          width:auto;
        }
        md-card-title {
            font-weight: bold;
        }

      .description {
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            line-height: 16px;
            /* fallback */
            max-height: 32px;
            /* fallback */
            -webkit-line-clamp: 2;
            /* number of lines to show */
            -webkit-box-orient: vertical;
        }
    }
  .space {
    margin-left : 0%
  }
}
.display-div{
  display :none;
}

.list-item {
  height: 450px;
  max-height: 100%;
}

.margin-frame {

}

.slide{
  height: 97%;
  width :  100%;
  padding-right: 0;
  padding-left: 0;
}
.banner {
  height: 60%;
  width :  100%;
  margin:0;
}
.row {
  height:100%;
}
