@import 'client/theme.scss';

.slides-list-container {
    @include basic-frame-theme($theme);
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: transparent;
    .list-item md-card {
        margin-bottom:15px;
        width: 100%;

        &.create-btn{
          width:auto;
        }
        md-card-title {
            font-weight: bold;
        }

      .description {
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            line-height: 16px;
            /* fallback */
            max-height: 32px;
            /* fallback */
            -webkit-line-clamp: 2;
            /* number of lines to show */
            -webkit-box-orient: vertical;
        }
    }
}
.display-div{
  display :none;
}
