@import 'client/theme.scss';

.slides-list-container {
    @include basic-frame-theme($theme);
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: transparent;
    .list-item md-card {
        cursor: pointer;
        margin-bottom:15px;
        width: 100%;

        &.create-btn{
          width:auto;
        }
        md-card-title {
            font-weight: bold;
        }
        @media only screen and (min-width: 768px) {
          .actions {
            margin :1%
          }
        }
      
      .description {
        overflow: hidden;
        text-overflow: ellipsis;
        display: block;
        line-height: 16px;
        /* fallback */
        height: 32px;
        /* fallback */
        -webkit-line-clamp: 2;
        /* number of lines to show */
        -webkit-box-orient: vertical;
        margin : 3%;
        max-width: 90%;
      }
    }
  .space {
    margin-left : 0%
  }
}
.display-div{
  display :none;
}

.list-item {
  height: 450px;
  max-height: 100%;
}

.margin-frame {

}

.slide{
  height: 97%;
  width :  100%;
  padding-right: 0;
  padding-left: 0;
}
.banner {
  height: 60%;
  width :  100%;
  margin:0;
}
.row {
  height:100%;
}
.tags {
  margin-left : 5% !important;

}
