 
div {
  margin: 0 auto;
  width: 100px;
}

.demo-tooltip  .centered {
    text-align: center;
    height: 200px;
    overflow: auto;


  }
 .demo-tooltip  .centered button {
      margin: 16px;
}

.demo-tooltip .mat-radio-button {
    display: block;
  }