// @import 'client/theme.scss';

// .chart {
//     padding: 20px;
//     width: 100%;
// }


.slides {
    .slide {
        width: 100%;
        height: 100%;
    }
    .title-text{
      margin-left: 40px;
    }
}
:host /deep/ ul, :host /deep/ ol{
  list-style-position: inside;
}
.graph-container{
  height: 100%;
  width: 100%;
}
// .slides {
//     .slide {
//          background-color: $accent;
//         md-grid-tile {
//             overflow: visible;
//         }
//         md-grid-list,
//         md-grid-tile {
//             padding-top: 0 !important;
//             padding-bottom: 0 !important;
//             height: 100%;
//             overflow: visible;
//         }
//         .graph-container{
//           width: 100%;
//           height: 100%;
//         }
//         h2 {
//             color: $accent;
//             font-size: $lg;
//         }
//     }

// }


/*********************************************
 * NAVIGATION CONTROLS
 *********************************************/

.controls {
    display: none;
    position: fixed;
    width: 110px;
    height: 110px;
    z-index: 30;
    right: 10px;
    bottom: 10px;
    -webkit-user-select: none;

    button {
        padding: 0;
        position: absolute;
        opacity: 0.05;
        width: 0;
        height: 0;
        background-color: transparent;
        border: 12px solid transparent;
        -webkit-transform: scale(0.9999);
            -ms-transform: scale(0.9999);
                transform: scale(0.9999);
        -webkit-transition: all 0.2s ease;
                transition: all 0.2s ease;
        -webkit-appearance: none;
        -webkit-tap-highlight-color: transparent;
    }

    .enabled {
        opacity: 0.7;
        cursor: pointer;
    }

    .fragmented {
        opacity: 0.3;
    }

    .enabled:active {
        margin-top: 1px;
    }

    .navigate-left {
        top: 42px;
        border-right-width: 22px;
        border-right-color: #2a76dd;

        .fragmented {
            opacity: 0.3;
        }
    }

    .navigate-right {
        left: 74px;
        top: 42px;
        border-left-width: 22px;
        border-left-color: #2a76dd;

        .fragmented {
            opacity: 0.3;
        }
    }

    .navigate-up {
        left: 42px;
        border-bottom-width: 22px;
        border-bottom-color: #2a76dd;

        .fragmented {
            opacity: 0.3;
        }
    }

    .navigate-down {
        left: 42px;
        top: 74px;
        border-top-width: 22px;
        border-top-color: #2a76dd;

        .fragmented {
            opacity: 0.3;
        }
    }

}

/*********************************************
 * PROGRESS BAR
 *********************************************/
.progress {
    position: fixed;
    display: none;
    height: 5px;
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.2);

    :after {
        content: '';
        display: block;
        position: absolute;
        height: 20px;
        width: 100%;
        top: -20px;
    }

    span {
        display: block;
        height: 100%;
        width: 0px;
        background-color: #2A76DB;
        -webkit-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
        transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
    }
}
