<div class="slides" appScroll (mouseWheelUp)="lastSlide()" (mouseWheelDown)="nextSlide()" (stayProcess)="staySlideProcess()" #slider>
  <!--slide title -->
  <div [ngStyle]="slideHeight_style" class="slide" id="slide-0">
    <app-title-slide [slideTitle]="slideTitle"> </app-title-slide>
  </div>

  <div [ngStyle]="slideHeight_style" class="slide" [attr.id]="'slide-'+slide.index" *ngFor="let slide of slides; let i =index">

    <!--full screen :chart -->
    <app-full-screen-graph-slide *ngIf="(slide.pageLayout=='FullScreenGraph'&&slide.graph!='image')"
       [slide] = "slide" [pos]="i+1"  [slideload$]="slideload$" [slideease$]="slideease$" >
    </app-full-screen-graph-slide>

    <!--left text right grah-->
    <!--left graph right text-->
    <app-graph-text-slide *ngIf="slide.pageLayout=='LeftTextRightGraph'||slide.pageLayout=='LeftGraphRightText'"
       [slide] = "slide" [pos]="i+1"  [slideload$]="slideload$" [slideease$]="slideease$">
    </app-graph-text-slide>

    <!--full screen :text-->
    <!--full screen :img-->
    <!--full screen :imgback + text-->
    <app-text-slide *ngIf="slide.pageLayout=='textInCenter'||slide.pageLayout=='textInCenterImageBackground'"
       [slide] = "slide" [pos]="i+1"  [slideload$]="slideload$" [slideease$]="slideease$">
    </app-text-slide>


  </div>

</div>
