<div appKeyboard class="slides" (keyUp)="toLastSlide()" (keyDown)="toNextSlide()" #slider>

  <!--for curSlide-->
  <div [ngStyle]="slideHeight_style" class="slide">
    <!--slide title -->
    <div [ngStyle]="slideHeight_style" class="slide" *ngIf="curSlideIndex==0">
      <app-title-slide [slideTitle]="slideTitle"> </app-title-slide>
    </div>
    <!--full screen :chart -->
    <app-full-screen-graph-slide *ngIf="curSlideIndex!=0&&(curSlide.pageLayout=='FullScreenGraph'&&curSlide.graph!='image')"   [pos]="curSlideIndex" [slideload$]="slideload$" [slideease$]="slideease$">
    </app-full-screen-graph-slide>

    <!--left graph right text-->
    <app-left-graph-right-text-slide *ngIf="(curSlideIndex!=0&&curSlide!=undefined)&&curSlide.pageLayout=='LeftGraphRightText'"   [pos]="curSlideIndex" [slideload$]="slideload$" [slideease$]="slideease$">
    </app-left-graph-right-text-slide>

    <!--left text right grah-->
    <app-right-graph-left-text-slide *ngIf="(curSlideIndex!=0&&curSlide!=undefined)&&curSlide.pageLayout=='LeftTextRightGraph'"   [pos]="curSlideIndex" [slideload$]="slideload$" [slideease$]="slideease$">
    </app-right-graph-left-text-slide>

    <!--full screen :text-->
    <!--full screen :img-->
    <!--full screen :imgback + text-->
    <app-text-slide *ngIf="(curSlideIndex!=0&&curSlide!=undefined)&&(curSlide.pageLayout=='textInCenter'||curSlide.pageLayout=='textInCenterImageBackground')"   [pos]="curSlideIndex" [slideload$]="slideload$" [slideease$]="slideease$">
    </app-text-slide>
    <!--control box-->
    <div class="control-box">
      <button md-fab (click)="toLastSlide()"><md-icon>keyboard_arrow_up</md-icon></button>
      <br><br>
      <button md-fab (click)="toNextSlide()"><md-icon>keyboard_arrow_down</md-icon></button>
    </div>
  </div>


</div>
