// @import 'client/theme.scss';

// .chart {
//     padding: 20px;
//     width: 100%;
// }


.slides {
    .slide {
        width: 100%;
        height: 100%;
    }
}
:host /deep/ ul, :host /deep/ ol{
  list-style-position: inside;
}

.control-box{
  position: absolute;
  bottom: 20px;
  right:20px;
}
