@import 'client/theme.scss';

.slide-creator {
    background: $accent;
    @include basic-frame-theme($theme);
    .section-title{
      cursor: pointer;
    }
}

textarea {
    width: 100%;
    //background: transparent;
    &:active,
    &:focus {
        outline: none;
        border: 1px solid $primary;
    }
}
