@import 'client/theme.scss';
//@import '~/node_modules/dragula/dist/dragula.css';

.gu-mirror {
  margin: 0 !important;
  opacity: .8;
  position: fixed!important;
  z-index: 9999!important;

  -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=80)';
  filter: alpha(opacity=80);
}

.gu-hide {
  display: none!important;
}

.gu-unselectable {
  -webkit-user-select: none!important;
  -moz-user-select: none!important;
  -ms-user-select: none!important;
  user-select: none!important;
}

.gu-transit {
  opacity: .2;

  -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=20)';
  filter: alpha(opacity=20);
}

.slide-creator {
  background: $accent;

  @include basic-frame-theme($theme);
}

.ex-moved {
  .slide-creator {
    .section-title {
      color: $warn !important;
    }
  }
}

.ex-over {
  .slide-creator {
    opacity: .5 !important;
  }
}

a.mat-fab {
  margin: 5px;
}


