@import 'client/theme.scss';
//@import '~/node_modules/dragula/dist/dragula.css';

.gu-mirror {
    position: fixed!important;
    margin: 0 !important;
    z-index: 9999!important;
    opacity: 0.8;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    filter:alpha(opacity=80);
}

.gu-hide {
    display: none!important;
}

.gu-unselectable {
    -webkit-user-select: none!important;
    -moz-user-select: none!important;
    -ms-user-select: none!important;
    user-select: none!important;
}

.gu-transit {
    opacity: 0.2;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
    filter:alpha(opacity=20);
}

.slide-creator {
    background: $accent;
    @include basic-frame-theme($theme);
}

textarea {
    width: 100%;
    //background: transparent;
    &:active,
    &:focus {
        outline: none;
        border: 1px solid $primary;
    }
}
/* dragula-specific example page styles */
.shuffle-container {
    //  background-color: rgba(255, 255, 255, 0.2);
}

.ex-moved {
    .slide-creator {
        .section-title {
            color: $warn !important;
        }
    }
}

.ex-over {
    .slide-creator {
        opacity: 0.5 !important;
    }
}
