<div class="slides" appScroll (mouseWheelUp)="lastSlide()" (mouseWheelDown)="nextSlide()" (stayProcess)="staySlideProcess()" #slider>
  <div [ngStyle]="slideHeight_style" class="slide" id="slide-0">
    <md-grid-list cols="1">
      <md-grid-tile [colspan]="1">
        <h1 class="expandUp">{{slideTitle}}</h1>
      </md-grid-tile>
    </md-grid-list>
  </div>
  <div [ngStyle]="slideHeight_style" class="slide" [attr.id]="'slide-'+slide.index" *ngFor="let slide of slides; let i =index">

    <md-grid-list *ngIf="!pageLayoutConfig[i].isFullScreen" cols="{{pageLayoutConfig[i].pageCol}}" >
      <md-grid-tile [colspan]="1" *ngIf="pageLayoutConfig[i].hasGraph" [attr.id]="slide.graph" [ngSwitch]="slide.graph">
        <app-force-directed-graph class="chart" #chart *ngSwitchCase="'forceDirectedGraph'"></app-force-directed-graph>
        <app-bar-chart class="chart" #chart *ngSwitchCase="'barChart'"></app-bar-chart>
        <app-line-chart class="chart" #chart *ngSwitchCase="'lineChart'"></app-line-chart>
        <div class="chart" #chart *ngSwitchDefault></div>
      </md-grid-tile>
      <md-grid-tile [colspan]="1" align="center">
        <div [innerHTML]="slide.text" align="left"  [class.slideLeft]="loadContentAni[i]" [class.slideRightOut]="easeContentAni[i]"></div>


      </md-grid-tile>
    </md-grid-list>


  </div>

</div>
