<div class="slides" appScroll (mouseWheelUp)="lastSlide()" (mouseWheelDown)="nextSlide()" (stayProcess)="staySlideProcess()" #slider>
  <div [ngStyle]="slideHeight_style" class="slide" id="slide-0">
    <md-grid-list cols="1">
      <md-grid-tile [colspan]="1">
        <h1 class="expandUp">{{slideTitle}}</h1>
      </md-grid-tile>
    </md-grid-list>
  </div>
  <div [ngStyle]="slideHeight_style" class="slide" [attr.id]="'slide-'+slide.index" *ngFor="let slide of slides; let i =index">
    <!--full screen :chart-->
    <!--full screen :text-->
    <!--left graph right text-->
    <md-grid-list *ngIf="!((pageLayoutConfig[i].isFullScreen&&!pageLayoutConfig[i].hasChart&&!pageLayoutConfig[i].hasText)||slide.pageLayout=='textInCenterImageBackground')&&slide.pageLayout!='LeftTextRightGraph'" cols="{{pageLayoutConfig[i].pageCol}}" class="firstcase">
      <md-grid-tile [colspan]="1" *ngIf="pageLayoutConfig[i].hasChart" [attr.id]="slide.graph" [ngSwitch]="slide.graph">
        <app-force-directed-graph class="chart" #chart *ngSwitchCase="'forceDirectedGraph'"></app-force-directed-graph>
        <app-bar-chart class="chart" #chart *ngSwitchCase="'barChart'"></app-bar-chart>
        <app-line-chart class="chart" #chart *ngSwitchCase="'lineChart'"></app-line-chart>
        <div class="chart" #chart *ngSwitchDefault></div>
      </md-grid-tile>
      <md-grid-tile [colspan]="1" align="center" *ngIf="pageLayoutConfig[i].hasText">
        <div [innerHTML]="slide.text" align="left" [class.slideLeft]="loadContentAni[i]" [class.slideRightOut]="easeContentAni[i]"></div>
      </md-grid-tile>
    </md-grid-list>
    <!--left text right grah-->
    <md-grid-list *ngIf="slide.pageLayout=='LeftTextRightGraph'" cols="{{pageLayoutConfig[i].pageCol}}" class="thirdcase">

      <md-grid-tile [colspan]="1" align="center" *ngIf="pageLayoutConfig[i].hasText">
        <div [innerHTML]="slide.text" align="left" [class.slideRight]="loadContentAni[i]" [class.slideLeftOut]="easeContentAni[i]"></div>
      </md-grid-tile>
      <md-grid-tile [colspan]="1" *ngIf="pageLayoutConfig[i].hasChart" [attr.id]="slide.graph" [ngSwitch]="slide.graph">
        <app-force-directed-graph class="chart" #chart *ngSwitchCase="'forceDirectedGraph'"></app-force-directed-graph>
        <app-bar-chart class="chart" #chart *ngSwitchCase="'barChart'"></app-bar-chart>
        <app-line-chart class="chart" #chart *ngSwitchCase="'lineChart'"></app-line-chart>
        <div class="chart" #chart *ngSwitchDefault></div>
      </md-grid-tile>
    </md-grid-list>
    <!--full screen :img-->
    <!--full screen :imgback + text-->
    <md-grid-list *ngIf="(pageLayoutConfig[i].isFullScreen&&!pageLayoutConfig[i].hasChart&&!pageLayoutConfig[i].hasText)||slide.pageLayout=='textInCenterImageBackground'" cols="{{pageLayoutConfig[i].pageCol}}" class="secondecase">

      <md-grid-tile [colspan]="1" align="center">

        <div [innerHTML]="slide.fullScreenHtml" #chart style="height:100%;"> </div>
        <div [innerHTML]="slide.text" style="position:absolute" *ngIf="pageLayoutConfig[i].hasText"></div>
      </md-grid-tile>


    </md-grid-list>



  </div>

</div>
