<div class="slides" appScroll (mouseWheelUp)="lastSlide()" (mouseWheelDown)="nextSlide()" (stayProcess)="staySlideProcess()" #slider>
  <div [ngStyle]="slideHeight_style" class="slide" id="slide-0">
    <md-grid-list cols="1">
      <md-grid-tile [colspan]="1">
        <h1 class="expandUp">{{slideTitle}}</h1>
      </md-grid-tile>
    </md-grid-list>
  </div>
  <div [ngStyle]="slideHeight_style" class="slide" [attr.id]="'slide-'+slide.index" *ngFor="let slide of slides">
    <md-grid-list cols="2">
      <md-grid-tile [colspan]="1" [attr.id]="slide.graph" [ngSwitch]="slide.graph">
        <app-force-directed-graph class="chart" #chart *ngSwitchCase="'forceDirectedGraph'"></app-force-directed-graph>
        <app-bar-chart class="chart" #chart *ngSwitchCase="'barChart'"></app-bar-chart>

        <app-bar-chart class="chart" #chart *ngSwitchDefault></app-bar-chart>
      </md-grid-tile>
      <md-grid-tile [colspan]="1" align="center">
        <div [innerHTML]="slide.text" align="left"></div>


      </md-grid-tile>
    </md-grid-list>
  </div>

</div>
