@import 'client/theme.scss';

.slide-creator {
    background: $accent;
    @include basic-frame-theme($theme);

    .title-bar{
        cursor: pointer;
        background-color: transparent !important;

        .spacer {
            flex: 1 1 auto;
        }

        .icon {
            padding: 0 14px;
        }
        .error{
          font-size: 14px;
        }
    }
}
.page-title{
  width: 80%;
  position: relative;
  top: 5px;
}
.text-align{
  //padding-left: 20px;
}
:host /deep/ .fr-box {
    width: 100%;
    //background: transparent;
    ul, ol{
      padding:40px;
      list-style-position: inside;
    }
    /*&:active,
    &:focus {
        outline: none;
        border: 1px solid $primary;
    }*/
}
