<md-card class="slide-creator secondery-theme">

  <md-toolbar class="title-bar" (click)="toggleForm()">
    <span class="section-title">Slide {{slideIndex}}</span>
    <span class="spacer"></span>
    <span class="error" *ngIf=" !form.valid">Please complete the slide setting</span>
  </md-toolbar>
  <md-card-content *ngIf="showForm">
    <form novalidate [formGroup]="form" (ngSubmit)="f.form.valid" #f="ngForm">
      <div class="full-frame">
        <div class="margin-frame">
          <table cellspacing="0" class="full-line">
            <tr>

              <td>
                <md-input-container class="page-title">
                  <input mdInput placeholder="Page title" formControlName="pageTitle" name="pageTitle" class="input ">
                </md-input-container>
              </td>
              <td>
                <md-select placeholder="Select title align" formControlName="titleAlign" name="titleAlign" class="text-align">
                  <md-option *ngFor="let align of titleAlign" [value]="align">
                    {{ align }}
                  </md-option>
                </md-select>
              </td>
            </tr>
            <br>
            <tr>
              <td>
                <md-select placeholder="Page layout" formControlName="pageLayout" name="pageLayout" (change)="pageLayoutChange()">
                  <md-option *ngFor="let layout of pageLayout" [value]="layout.value">
                    {{ layout.type }}
                  </md-option>
                </md-select>
              </td>
              <td>
                <md-select *ngIf="slide.hasGraph&&form.controls.pageLayout.value!='textInCenterImageBackground'" placeholder="Select graph" formControlName="slideGraph" name="slideGraph" (change)="graphChanged()">
                  <md-option *ngFor="let graph of graphs" [value]="graph.value">
                    {{ graph.type }}
                  </md-option>
                </md-select>
              </td>
            </tr>
          </table>

          <div class="margin-ver-frame">
            <md-tab-group *ngIf="slide.hasGraph &&(form.controls.slideGraph.value)&& !(form.controls.slideGraph.value=='image'||form.controls.slideGraph.value=='noGraph'||form.controls.slideGraph.value=='ngGraph')" [selectedIndex]="curTab" #dataInput>

              <md-tab label="Json">
                <textarea name="graphDataJson" formControlName="graphDataJson"></textarea>
                <p class="error" *ngIf=" form.controls.graphDataJson.invalid">Invalidate json format</p>

              </md-tab>
              <md-tab label="CSV">
                <app-csv-input (csv2json)="getCsvJson($event)"></app-csv-input>
              </md-tab>
            </md-tab-group>
            <app-image-upload (setImage)="setImageHtml($event)" [imagePath]="slide.slideImage" *ngIf="(slide.hasGraph&&form.controls.slideGraph.value=='image')||(this.form.value.pageLayout=='textInCenterImageBackground')"></app-image-upload>

          </div>
          <div class="margin-ver-frame" *ngIf="slide.hasText">
            <textarea [froalaEditor]='editorOptions' [(froalaModel)]="slide.text"></textarea>
          </div>
          <div *ngIf="form.controls.slideGraph.value == 'ngGraph'">
            <app-charts-builder (configGraph)="confirmeSlideGRaphConfig($event)">
            </app-charts-builder>
          </div>
        </div>
      </div>
      <br>
      <button md-raised-button type="button" (click)="confirmSlide()" [disabled]="!form.valid||isInShuffle">OK</button>
      <button md-raised-button type="button" (click)="deleteSlide($event)" [disabled]="isInShuffle" color="warn">DELETE</button>
      <span class="error" *ngIf="isInShuffle"> Modification and delete are not allowed during shuffling </span>
    </form>
  </md-card-content>
</md-card>
<br>
