.pointer {
  cursor: pointer;
}

md-card {
  box-shadow: none !important;
  padding: 20px;

  md-toolbar {
    border-bottom: 5px solid #333;

    .click {
      cursor: pointer;
      height: 100%;
      margin-left: 50px;
      width: 100%;
    }

    md-select {
      margin: 0 5px;
      position: absolute;
      top: 37px;
    }
  }
}
